<%= form_with model: [ @feedback, @feedback.comments.build ] do |form| %>
    <div style="color: red">

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :feedback_id, style: "display: block" %>
    <%= form.text_field :feedback_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
