<div id="<%= dom_id feedback %>">
  <p>
    <strong>Title:</strong>
    <%= feedback.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= feedback.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= feedback.status %>
  </p>

</div>
